.case-3{
		
}
.case-1{
	background-color: orange;
}
.case-1 li a:hover {
background-color: 	#FF8C00;
 border-radius: 10px;
}
.case-2{
	margin-left: 100px;
	display: flex;
}
.case-1 li a:hover .case-2
li
{
display: block;
position: absolute;
background-color: orange;
}
.case-5{
	border: 10px;
}
.btn{
	background-color: orange;
}
.a{
	text-decoration: none;
}
.frame-filter li{
	border-radius:10px;
	text-decoration: none;
}
